.logo{
    margin: 20px auto 100px 90px;
}
.nav-text{
    margin-left: 90px;
}
.nav-font{
    font-size: 50px;
    margin-bottom: 60px;
}

.button-color{
   color: #A80E0E;
   background-color: #FFAA00;
   border-radius: 45px;
   width: 120px;
}
.icon-d{
    display: flex;
}